<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.cluster.repository.AuthRepository">
	
	
	<select id="loginNormal" resultType="AuthMember" parameterType="AuthMember">
		select * from member where member_id = #{memberId} and member_pw = #{memberPw}
	</select>
	
	<select id="checkNick" resultType="string" parameterType="string">
		select member_nick from member where member_nick = #{memberNick}
	</select>
	<select id="checkId" resultType="string" parameterType="string">
		select member_id from member where member_id = #{memberId}
	</select>
	
	<insert id="insertNormal" parameterType="AuthMember">
		insert into member VALUES(
			member_seq.nextval, 
			#{memberId}, 
			#{memberPw}, 
			#{memberNick}, 
			null, 
			sysdate, 
			'일반', 
			null, 
			member_auth_num.nextval, 
			'n',
			#{memberAgreement1},
			#{memberAgreement2},
			'n'
		)
	</insert>
	
	<select id="selectMember" resultType="AuthMember" parameterType="string">
		select * from member where member_id = #{memberId}
	</select>
	
	<select id="checkMember" resultType="AuthMember" parameterType="int">
		select member_id, member_status, member_auth_num from member where member_no = #{memberNo}
	</select>
	
	<update id="updateOne" parameterType="hashmap">
		update member set ${column} = #{changeVal} where member_id = #{memberId}
	</update>
	
	<update id="updateNull" parameterType="hashmap">
		update member set ${column} = null where member_id = #{memberId}
	</update>
	
</mapper>