<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.cluster.repository.ClassDetailRepository">

	<resultMap type="OffClassVo" id="offClassMap">
		<id property="classNo" column="class_no"/>
		<result property="className" column="class_name"/>
		<result property="classInfo" column="class_info"/>
		<result property="classPrice" column="class_price"/>
		<result property="classCheck" column="class_check"/>
		<result property="classEndCheck" column="class_end_check"/>
		<result property="classStart" column="class_start"/>
		<result property="classEnd" column="class_end"/>
		<result property="classRegDate" column="class_regdate"/>
		<result property="classPlace" column="class_place"/>
		<result property="classMemberSet" column="class_member_set"/>
		<result property="classTalk" column="class_talk"/>
		<result property="classImage" column="class_image"/>
		<result property="classInfoImg" column="class_info_img"/>
		<result property="categoryNo" column="categoryNo"/>
		<result property="creatorNo" column="creatorNo"/>
			
		<collection javaType="Creator" property="creator">
			<id property="creatorNo" column="creator_no"/>
			<result property="creatorAccount" column="creator_account"/>
			<result property="creatorInfo" column="creator_info"/>
			<result property="memberNo" column="member_no"/>
		</collection>
				
		<collection javaType="AuthMember" property="authMember">
			<id property="memberNo" column="member_no"/>
			<result property="memberId" column="member_id"/>
			<result property="memberPw" column="member_pw"/>
			<result property="memberNick" column="member_nick"/>
			<result property="memberPhone" column="member_phone"/>
			<result property="memberDate" column="member_date"/>
			<result property="memberAuth" column="member_auth"/>
			<result property="memberToken" column="member_token"/>
			<result property="memberAuthNum" column="member_auth_num"/>
			<result property="memberStatus" column="member_status"/>
			<result property="memberAgreement1" column="member_agreement1"/>
			<result property="memberAgreement2" column="member_agreement2"/>
			<result property="memberBy" column="member_by"/>
			
		</collection>
		
		<collection javaType="Review" property="review">
			<id property="reviewNo" column="review_no"/>
			<result property="memberNo" column="member_no"/>
			<result property="classNo" column="class_no"/>
			<result property="reviewContext" column="review_context"/>
			<result property="reviewDate" column="review_date"/>
			<result property="reviewOk" column="review_ok"/>
		</collection>
		
		<collection javaType="ClassCategory" property="classCategory">
			<id property="categoryNo" column="category_no"/>
			<result property="categoryBig" column="category_big"/>
			<result property="categorySmall" column="category_small"/>
		</collection>
	</resultMap>
	
	 <select id="read" parameterType="_int" resultMap="offClassMap">
		select 
			*
		from 
		    member M
		    inner join creator C on M.member_no = C.member_no
		    inner join offclass O on C.creator_no = O.creator_no
		    inner join classcategory CC on O.category_no = CC.category_no
		where class_no = #{classNo}
	</select>
	  
	  <select id="list" resultType="OffClassVo">
		SELECT 
			*
		 FROM ( 
            SELECT O.class_no, 
			    O.class_name,
			    O.class_info,
			    O.class_price,
			    O.class_check,
			    O.class_end_check,
			    O.class_start,
			    O.class_end,
			    O.class_place,
			    O.class_member_set,
			    O.class_talk,
			    C.creator_info,
			    M.member_nick,
			    C.creator_no,
			    C.member_no, 
                   ROW_NUMBER() OVER(ORDER BY class_no DESC) AS RNUM
		         from 
			    member M
			    inner join creator C on M.member_no = C.member_no
			    inner join offclass O on C.creator_no = O.creator_no
			where 
			    class_no > 0 order by class_no desc 
		                       ) MP
		WHERE 
            RNUM BETWEEN #{rowStart} AND #{rowEnd}
            and  class_no > 0 order by class_no desc      
	</select>
	  
	<select id="listCount" resultType="int">
	<![CDATA[
		SELECT COUNT(class_no)
		  FROM offclass
		 WHERE class_no > 0
	]]>
	</select>
	
	<insert id="askClass" parameterType="ClassQuestion">
 		insert into classquestion(classq_no, class_no, member_no,class_Q) values(classq_seq.nextval, #{classNo}, #{memberNo}, #{classQ})
	</insert>
	
	<!-- 강의 이미지 조회 -->
	<select id="readImg" resultType="Offclass">
		select 
		    *
		from
		    offclass O
		left outer join class_image I on O.class_no = I.class_no
		where O.class_no=#{classNo}
	</select>
	
	<select id="classMemberCount" resultType="int">
		select count(*) from classorder where class_no = #{classNo}
	</select>
 

</mapper>

