<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.cluster.repository.EventRepository">
	
	<select id="getEventNo" resultType="int">
		select event_seq.nextval from dual
	</select>
	
	<insert id="insertEvent" parameterType="EventVO">
		insert into event (event_no, event_title, event_content, event_start, event_end, event_file_name) 
		values(#{eventNo}, #{eventTitle}, #{eventContent}, #{eventStart}, #{eventEnd}, #{eventFileName})
	</insert>
	
	<insert id="foreachCoupons" parameterType="java.util.Map">
		<foreach collection="list" item="coupon" open="insert all" separator=" " close="select * from dual">
			into coupon(coupon_no, coupon_name, coupon_start, coupon_end, coupon_discount, event_no, coupon_file_name)
			values(coupon_seq.nextval,
					#{coupon.couponName},
					#{coupon.couponStart},
					#{coupon.couponEnd},
					#{coupon.couponDiscount},
					#{coupon.eventNo},
					#{coupon.couponFileName}
					)
		</foreach>
	</insert>
	
	<select id="selectOngoingEventList" resultType="EventVO" parameterType="EventInfoforList">
		<![CDATA[
			select * from (
	    		select rownum rn, tmp.* from (
	        		select * from event 
	        		where ((to_char(event_start, 'yyyymmdd') < #{sysdate}) and (to_char(event_end, 'yyyymmdd') > #{sysdate}))
	        		order by event_no desc
	   			)tmp
			) 
			where rn between #{start} and #{end}
		]]>
	</select>
	
	<select id="selectFinishedEventList" resultType="EventVO" parameterType="EventInfoforList">
		<![CDATA[
			select * from (
	    		select rownum rn, tmp.* from (
	        		select * from event 
	        		where ((to_char(event_start, 'yyyymmdd') > #{sysdate}) or (to_char(event_end, 'yyyymmdd') < #{sysdate}))
	        		order by event_no desc
	   			)tmp
			) 
			where rn between #{start} and #{end}
		]]>
	</select>
	
	<select id='selectEvent' resultType="EventVO" parameterType="int">
		select * from event where event_no = #{eventNo}
	</select>
	
	<select id="selectCoupons" resultType="CouponVO" parameterType="int">
		select * from coupon where event_no = #{eventNo}
	</select>
	
	<insert id="insertMemberCoupon" parameterType="hashmap">
		insert into member_coupon(member_no, coupon_no)
		values(#{memberNo}, #{couponNo})
	</insert>
	
	<select id="selectMemberCoupon" resultType="MemberCoupon" parameterType="hashmap">
		select * from member_coupon where member_no = #{memberNo} and coupon_no = #{couponNo}
	</select>
	
	<update id="updateOne" parameterType="hashmap">
		update member set ${column} = #{changeVal} where member_id = #{memberId}
	</update>
	
	<update id="updateNull" parameterType="hashmap">
		update member set ${column} = null where member_id = #{memberId}
	</update>
	
</mapper>