<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.kh.cluster.repository.OffclassRepository">

	<select id="checkReview" resultType="Review" parameterType="int">
		select * from review where class_no = #{classNo} and review_ok is null
	</select>

	<select id="checkMember" resultType="ClassOrder" parameterType="int">
		select * from classorder where class_no = #{classNo} and order_ok = '입금완료'
	</select>

	<resultMap type="OffClassInfoVo" id="offClassInfoMap">
		<id property="classNo" column="class_no"/>
		<result property="className" column="class_name"/>
		<result property="classInfo" column="class_info"/>
		<result property="classPrice" column="class_price"/>
		<result property="classCheck" column="class_check"/>
		<result property="classEndCheck" column="class_end_check"/>
		<result property="classStart" column="class_start"/>
		<result property="classEnd" column="class_end"/>
		<result property="classRegdate" column="class_regdate"/>
		<result property="classPlace" column="class_place"/>
		<result property="classMemberSet" column="class_member_set"/>
		<result property="classTalk" column="class_talk"/>
		<result property="classImage" column="class_image"/>
		<result property="classInfoImg" column="class_info_img"/>
		<result property="categoryNo" column="categoryNo"/>
		<result property="creatorNo" column="creatorNo"/>
		
		<collection javaType="List" property="review" ofType="Review" column="class_no" select="checkReview">
		
		</collection>
		
		<collection javaType="List" property="classOrder" ofType="ClassOrder" column="class_no" select="checkMember">
		
		</collection>
	</resultMap>


	<insert id="join">
		insert into creator values(creator_seq.nextval, #{creatorAccount}, #{creatorInfo}, #{memberNo})
	</insert>

	<update id="authUpdate">
		update member set member_auth = '강사' where member_no = #{memberNo}
	</update>
	
	<select id="setCreator" resultType="Creator">
		select * from creator where member_no = #{memberNo}
	</select>

	<insert id="create">
		insert into offclass
		(class_no, class_name, class_info, class_price, class_place, class_member_set, class_talk, category_no, creator_no) 
		values
		(offclass_seq.nextval, #{className}, #{classInfo}, #{classPrice}, #{classPlace}, #{classMemberSet}, #{classTalk}, #{categoryNo}, #{creatorNo})
	</insert>

	<select id="categoryList" resultType="ClassCategory">
		<![CDATA[
			select category_no, category_big, category_small from classcategory where category_no > 0
		]]>			
	</select>

	<!-- 페이징 처리 후 강의  조회-->
	<select id="selectClass2" resultType="OffClassInfoVo">
		select * 
			from (
				select rownum rn, a.* 
					from (
						select * from offclass where class_check = '검수완료' and creator_no = #{creatorNo} order by class_no desc
					) a
				)
		where rn between #{start} and #{end}
	</select>

	<select id="selectClass" resultMap="offClassInfoMap">
		select * 
			from (
				select rownum rn, a.* 
					from (
						select * from offclass where class_check = '검수완료' and creator_no = #{creatorNo} order by class_no desc
					) a
				)
		where rn between #{start} and #{end}
	</select>
	
	<!-- 페이징 처리 후 검수 진행 중 강의  조회-->
	<select id="selectCheck" resultType="Offclass">
		select * 
			from (
				select rownum rn, a.* 
					from (
						select * from offclass where (class_check = '검수대기' or class_check = '반려') and creator_no = #{creatorNo} order by class_no desc 
					) a
				)
		where rn between #{start} and #{end}
	</select>

	<!-- 페이징 처리 후 강의에 대한 받은 질문 조회-->
	<select id="selectClassQnA" resultType="OffclassQnAVO">
		select * 
			from (
				select rownum rn, a.* 
					from (
						select 
    						Q.classq_no, Q.class_no, O.class_name, M.member_no, M.member_nick, Q.class_q, Q.class_a, O.creator_no
						from 
    						classquestion Q 
        					inner join offclass O on O.class_no = Q.class_no and creator_no = #{creatorNo}
        					inner join member M on M.member_no = Q.member_no
						group by 
    						Q.classq_no, Q.class_no, O.class_name, M.member_no, M.member_nick, Q.class_q, Q.class_a, O.creator_no
    					order by 
    						Q.classq_no desc	 
					) a
				)
		where rn between #{start} and #{end}
	</select>

	<select id="classList" resultType="Offclass">
		<![CDATA[
			select * from offclass 
			where class_check = '검수완료' and creator_no = #{creatorNo} order by class_no desc
		]]>
	</select>

	<select id="checkList" resultType="Offclass">
		<![CDATA[
			select * from offclass 
			where (class_check = '검수대기' or class_check = '반려') and creator_no = #{creatorNo} order by class_no desc
		]]>
	</select>

	<insert id="addImage">
		insert into class_image(fullname, class_no) values(#{fullName}, #{imageJoinNo})
	</insert>
	
	<select id="getImage" resultType="String">
		select fullname from class_image where class_no = #{classNo}
	</select>
	
	<select id="getClassNo" resultType="int">
		select offclass_seq.currval from dual
	</select>
	
	<select id="countClass" resultType="int">
		select count(*) from offclass where class_check = '검수완료' and creator_no = #{creatorNo}
	</select>
	
	<select id="countCheck" resultType="int">
		select count(*) from offclass where (class_check = '검수대기' or class_check = '반려') and creator_no = #{creatorNo}
	</select>
	
	<select id="countQuestion" resultType="int">
		select count(*) from classquestion Q 
        	inner join offclass O on O.class_no = Q.class_no and creator_no = #{creatorNo}
        	inner join member M on M.member_no = Q.member_no
	</select>
	
	<select id="countAnswer" resultType="int">
		select count(*) from classquestion Q 
        	inner join offclass O on O.class_no = Q.class_no and creator_no = #{creatorNo} and class_a is not null
        	inner join member M on M.member_no = Q.member_no
	</select>
	
	<select id="readDate" resultType="Offclass">
		select class_no, class_start, class_end, class_check, class_end_check, class_regdate from offclass where class_no = #{classNo}
	</select>
	
	<update id="startDateUpdate">
		update offclass set class_start = #{classStart} where class_no = #{classNo}
	</update>
	
	<update id="endDateUpdate">
		update offclass set class_end = #{classEnd} where class_no = #{classNo}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from offclass where class_no = #{classNo} 
	</delete>
	
	<update id="creatorEdit">
		update creator set creator_info = #{creatorInfo}, creator_account = #{creatorAccount} where member_no = #{memberNo}
	</update>
	
	<select id="totalClass" resultType="int">
		select count(*) from offclass where creator_no = #{creatorNo}
	</select>
	
	<select id="openClass" resultType="int">
		select count(*) from offclass where creator_no = #{creatorNo} and class_end_check = '진행'
	</select>
	
	<select id="totalLike" resultType="int">
		select count(*) from classlike C inner join offclass O on O.class_no = C.class_no where O.creator_no = #{creatorNo}
	</select>
	
	<select id="totalEntrant" resultType="int">
		select count(*) from classorder C inner join offclass O on C.class_no = O.class_no where C.order_ok ='입금완료' and O.creator_no = #{creatorNo}
	</select>
	
	<select id="readQuestion" resultType="ClassQuestion">
		select * from classquestion where classq_no = #{classqNo}
	</select>
	
	<update id="classAnswer">
		update classquestion set class_a = #{classA} where classq_no = #{classqNo}
	</update>
	
</mapper>	
