<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.kh.cluster.repository.OffclassRepository">

	<insert id="join">
		insert into creator values(creator_seq.nextval, #{creatorAccount}, #{creatorInfo}, #{memberNo})
	</insert>

	<update id="authUpdate">
		update member set member_auth = '강사' where member_no = #{memberNo}
	</update>

	<insert id="create">
		insert into offclass
		(class_no, class_name, class_info, class_price, class_place, class_member_set, class_talk, category_no, creator_no) 
		values
		(offclass_seq.nextval, #{className}, #{classInfo}, #{classPrice}, #{classPlace}, #{classMemberSet}, #{classTalk}, #{categoryNo}, #{creatorNo})
	</insert>

	<select id="categoryList" resultType="ClassCategory">
		<![CDATA[
			select category_no, category_big, category_small from classcategory where category_no > 0
		]]>			
	</select>

	<!-- 페이징 처리 후 강의  조회-->
	<select id="selectClass" resultType="Offclass">
		select * 
			from (
				select rownum rn, a.* 
					from (
						select * from offclass where class_check = '검수완료' order by class_no desc 
					) a
				)
		where rn between #{start} and #{end}
	</select>

	<!-- 페이징 처리 후 검수 진행 중 강의  조회-->
	<select id="selectCheck" resultType="Offclass">
		select * 
			from (
				select rownum rn, a.* 
					from (
						select * from offclass where class_check = '검수대기' or class_check = '반려' order by class_no desc 
					) a
				)
		where rn between #{start} and #{end}
	</select>

	<select id="classList" resultType="Offclass">
		<![CDATA[
			select * from offclass 
			where class_check = '검수완료' order by class_no desc
		]]>
	</select>

	<select id="checkList" resultType="Offclass">
		<![CDATA[
			select * from offclass 
			where class_check = '검수대기' or class_check = '반려' order by class_no desc
		]]>
	</select>

	<insert id="addImage">
		insert into class_image(fullname, class_no) values(#{fullName}, #{imageJoinNo})
	</insert>
	
	<select id="getImage" resultType="String">
		select fullname from class_image where class_no = #{classNo}
	</select>
	
	<select id="getClassNo" resultType="Integer">
		select offclass_seq.currval from dual
	</select>
	
	<select id="countClass" resultType="int">
		select count(*) from offclass where class_check = '검수완료'
	</select>
	
	<select id="countCheck" resultType="int">
		select count(*) from offclass where class_check = '검수대기' or class_check = '반려'
	</select>
	
	<select id="readDate" resultType="Offclass">
		select class_no, class_start, class_end, class_check, class_end_check, class_regdate from offclass where class_no = #{classNo}
	</select>
	
	<update id="startDateUpdate">
		update offclass set class_start = #{classStart} where class_no = #{classNo}
	</update>
	
	<update id="endDateUpdate">
		update offclass set class_end = #{classEnd} where class_no = #{classNo}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from offclass where class_no = #{classNo} 
	</delete>
	
</mapper>	
