html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


.left {
    text-align: left !important;
}
.center{
    text-align: center !important;
}
.right {
    text-align: right !important;
}

input:focus, select:focus{
	outline:none;
}

.input {
    width:100%;
    padding:0.5rem;
    outline:none;
    border:0.5px solid grey;
}

.input.input-underline {
    border:none;
    border-bottom: 0.5px solid grey;
}

.input.input-inline {
    width:auto;
}
/* :focus는 선택한 경우에 대한 스타일 적용 가능 */
.input.input-highlight:focus {
    border-color:red;
}

.input.input-hint {
    padding-left: 2.5rem;
}

textarea {
    resize: vertical;
}

.outbox {
    margin:0 auto;
    
}
.outbox > .row {
    margin:0.5rem 0;
}


.swTable{
	width: 100%;
    border-spacing: 0;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

.swTable th{
 	padding: 0.5rem;
    text-align: center;
 	border-bottom: 1px solid #444444;
 	background-color:#ffc107;
 	color:black;
} 

.swTable td {
 	padding: 0.5rem;
    text-align: center;
    border-bottom: 1px solid #444444;
} 
 
.swTable a{
	text-decoration: underline;
    color: black;
}


.paginav {
	margin:0;
	padding:0;
	list-style: none;
}
.paginav > li {
	display:inline-block;
	padding:0.1rem;
	min-width:2rem;
	text-align: center;
}
	
	
.paginav > li > a {
	
	text-decoration: none;
	    
}

.paginav > li.active {
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px lightgray;
}
	
.paginav > li.active > a {
	color: red;
}
	
	
.paginav > li > a:hover{
	text-decoration: underline;
}


	